extends layout

block content
	include ./includes/head
	div(id='db-nav-movie',class='nav')
		div(class='nav-wrap')
			div(class='nav-primary')
				div(class='nav-logo')
					a(href='#') 豆瓣电影
				div(class='nav-search')
					form(method='get',action='')
						fieldset
							legend 搜索
							label(for='inp-query',style='display:none') 电影、影人、影院、电视剧
							div(class='inp')
								input(id='inp-query',name='search-text',class='placeholder',size='22',maxlength='60',placeholder='电影、影人、影院、电视剧',autocomplete='off')
							div(class='inp-btn')
								input(type='submit',value='搜索')
							input(type="hidden", name="cat", value="1002")
					a(href='#',target='_blank',class='ban-filmawards')
						img(src='/img/xinxiang_6th_nav.png',alt='豆瓣电影观影报告')
		div(class='nav-secondary')
			div(class='nav-items nav-anon')
				ul
					mixin parameters(name,url)
						li
							a(href='#{url}') #{name}
					+parameters('影讯&购票','#')
					+parameters('选电影','#')
					+parameters('电视剧','#')
					+parameters('排行榜','#')
					+parameters('分类','#')
					+parameters('影评','#')
					+parameters('2015年度榜单','#')
					+parameters('豆瓣观影报告','#')
	div(id='wrap')
		div(id='content')
			div(class='article')
				div(id='screening',class='s')
					div(class='screening-hd')
						div(class='ui-slide-control')
							span(class='prev-btn')
								a(class='link-prev',href='#')
							span(class='next-btn')
								a(class='link-next',href='#')
						div(class='slide-tip')
							span(class='ui-slide-index') 1
							span /
							span(class='ui-slide-max') 4
						h2 正在热映
							a(href='#',class='all-hot') 全部正在热映»
							a(href='#',class='will-play') 即将上映»
					div(class='screening-bd')
						ul(class='ui-slide-content',data-slide-index='1',data-slide-max='5')
							each item in movies
								li(class='ui-slide-item',data-title='功夫熊猫3')
									ul
										li(class='poster')
											a(href='/movie/movDetail')
												img(src='/img/movie1.jpg',alt='功夫熊猫3')
										li(class='title')
											a(href='/movie/movDetail') #{item.moviename}
										li(class='rating')
											span(class='rating-star allstar allstar40')
											span(class='subject-rate') 8.0
										li(class='ticket_btn')
											span
												a(href='#') 选座购票
			div(class='aside')
	include ./includes/footer
