doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet/less', href='/stylesheets/index.less')
		link(rel='stylesheet/less', href='/stylesheets/signUp.less')
		link(rel='stylesheet/less', href='/stylesheets/signUp.less')
		script(src='/libs/less.js')
	body
		block content
