@gnav-color:#d5d5d5;
@gnav-bg:#545652;
@gnav-minWid:950px;
@nav-background:#f0f3f5;
@a-bluecolor:#27A;
@font-size:12px;
@alinkcolor: #37a;
@avisited:#669;

*{margin:0;padding:0;}
form{padding:0;margin:0;border:0;}
.global-nav{
  height:28px;
  color:@gnav-color;
  background-color:@gnav-bg;
  min-width:@gnav-minWid;
}
.global-nav ul li{float:left;height:28px;line-height:28px;font-size:@font-size;}
.global-nav ul li a{padding:0 12px;line-height:28px;color:#d5d5d5}
.global-nav ul li a:hover{color:#fff;}
.global-nav .sign-nav{float:right;margin:0 12px 0 0;line-height:28px;font-size:@font-size;}
.global-nav .sign-nav a{diplay:inline-block;margin:0 12px;}
.global-nav .sign-nav a:hover{color:#fff;}
#db-nav-movie{background: @nav-background;}
.nav{width:100%;min-width:@gnav-minWid;overflow:hidden;zoom:1;margin-bottom:40px;}
#db-nav-movie .nav-wrap{border-color: #e3ebec;}
.nav .nav-wrap{border-bottom:1px solid #e5ebe4;}
.nav .nav-primary{width:@gnav-minWid;margin:0 auto;overflow: visible;position:relative;padding:10px 0 5px;zoom:1;}
#db-nav-movie .nav-logo{background:url('../libs/img/lg_movie_a12_2.png') no-repeat 0 12px;}
.nav .nav-logo{float:left;width:145px;height:56px;margin:0 13px 0 0;}
.nav .nav-logo a{display:block;width:100%;height:100%;overflow:hidden;line-height:100em;}
.nav-search{position:relative;zoom:1;overflow:visible;margin-left:145px;padding:10px 0 15px 0;}
.nav-search fieldset{border: none;padding:0;margin:0;position:static;}
.nav-search legend{display: none;}
fieldset legend{color: #666;padding: 0 5px;}
.nav-search label{position:absolute;left:11px;top:10px;line-height:30px;cursor:text;color:#bbb;width:auto;}
label {font-family: Tahoma;vertical-align: middle;}
#db-nav-movie .nav-search .inp{background-image:url('../libs/img/nav_mv_bg.png');}
.nav-search .inp{float:left;width:470px;height:34px;text-align:center;cursor:text;background:url('../libs/img/nav_bg_a1.png') no-repeat 0 0;}
.nav-search .inp input{background: #fff;width: 96%;margin: 0;text-align: left;height: 30px;padding-left: 10px;outline: none;vertical-align: middle;}
.nav-search input{border: none;}
.placeholder{color: #bbb;}
.nav-search .inp-btn {
  position: relative;
  left: -1px;
  width: 37px;
  height: 34px;
  zoom: 1;
  overflow: hidden;}
#db-nav-movie .nav-search .inp-btn input{background-image:url('../libs/img/nav_mv_bg.png');}
.nav-search .inp-btn input{
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 35px 0 0 0;
  overflow: hidden;
  background:url('../libs/img/nav_bg_a1.png') no-repeat 0 -40px;
  color: transparent;
  cursor: pointer;
}
.ban-filmawards, .ban-filmawards:hover, .ban-filmawards:link, .ban-filmawards:visited{
  position:absolute;
  top:8px;
  right:30px;
  background:transparent !important;
}
.ban-filmawards img{
  width:186px;
  height:96px;
  margin-top:-10px;
}
a img{border-width:0;vertical-align: middle;}
.nav-secondary{
  width:@gnav-minWid;
  margin:0 auto;
  padding-bottom:0;
  overflow: hidden;
  zoom:1;

  .nav-items{
    float:none;
    zoom:1;
    font-size:13px;
  }

  .nav-anon{
    width:950px;
    margin:0 auto;
    padding-bottom:0;
    overflow: hidden;
  }
}
.nav-secondary ul{
  margin:9px 0;
  list-style-type: none;
  padding:0;

  li{
    display:inline;
    margin-right:30px;
    a{color:@a-bluecolor;}
    a:hover{
      color:#fff;
      background:@a-bluecolor;
    }
  }
}

#wrap{width:950px;margin:0 auto;}
#content{min-height:420px;}
.article{float:left;width:590px;padding-right:40px;}
#screening{margin-bottom:36px;}
.ui-slide-control{
  float:right;
  margin:5px 0 0 15px;
  font-size:@font-size;
}
.ui-slide-control span a{
  display:block;
  float:left;
  width:18px;
  height:18px;
  margin-right:5px;
  cursor:pointer;
  background:url('../libs/img/slide_swithc_2.png') no-repeat;
}
.ui-slide-control .link-prev{background-position: 0 0;}
.ui-slide-control .link-next{background-position:-18px 0;}
.slide-tip{float:right;line-height:30px;color:#666;font-size:@font-size;}
#content h2{
  color:#111;
  padding-bottom:10px;
  border-bottom:1px solid #eaeaea;
  margin-bottom:18px;

  a{
    display:inline-block;
    margin-left:15px;
    font-size:12px;
    color:@alinkcolor;
    text-decoration: none;
    cursor:pointer;
    padding:0;
  }
  a:visited{
    color:@avisited;
    text-decoration: none;
  }
  a:hover{color:#fff;background:@a-bluecolor;}
  }

h2{font:15px Arial, Helvetica, sans-serif;margin:0 0 12px 0;line-height:150%;}
