@gnav-color:#d5d5d5;
@gnav-bg:#545652;
@gnav-minWid:950px;

.global-nav{
  height:28px;
  color:@gnav-color;
  background-color:@gnav-bg;
  min-width:@gnav-minWid;
}
.global-nav ul li{float:left;height:28px;line-height:28px;font-size:12px;}
.global-nav ul li a{padding:0 12px;line-height:28px;}
.global-nav ul li a:hover{color:#fff;}
.global-nav .sign-nav{float:right;margin:0 12px 0 0;line-height:28px;font-size:12px;}
.global-nav .sign-nav a{diplay:inline-block;margin:0 12px;}
.global-nav .sign-nav a:hover{color:#fff;}