@h-color:#494949;
@year-color:#888;

#content{min-height: 420px;}
#content h1{word-wrap: break-word;display: block;font-size: 25px;font-weight:bold;color:@h-color;margin:0;padding: 0 0 15px 0;line-height: 1.1;}
.grid-16-8 .article{float:left;width:590px;padding-right: 40px;}
.indent{margin-bottom: 30px;}
.clearfix{display: block;}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.subjectwrap{position:relative;margin-bottom: 15px;}
.subject{float:left;width:415px;}
#mainpic{float:left;text-align: center;margin:3px 12px 0 0;max-width:155px;overflow:hidden;}
#mainpic a img{margin-bottom: 10px;}
#info{float:left;max-width:248px;word-wrap: break-word;}
.p1{font: 12px Arial, Helvetica, sans-serif;line-height:150%;color:#666;}
.attrs{color:#37a;}
#interest_sect1{}