@h-color:#494949;
@year-color:#888;

#content{min-height: 420px;}
#content h1{word-wrap: break-word;display: block;font-size: 25px;font-weight:bold;color:@h-color;margin:0;padding: 0 0 15px 0;line-height: 1.1;}
.grid-16-8 .article{float:left;width:590px;padding-right: 40px;}
.indent{margin-bottom: 30px;}
.clearfix{display: block;}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.subjectwrap{position:relative;margin-bottom: 15px;}
#interest_sect_level{clear: both; padding: 20px 0 3px;}
a.colbutt{letter-spacing: 3px; overflow: hidden; background: transparent url(../img/collect_back2.png) no-repeat scroll right top !important;
          color: #000; display: block; height: 24px; padding-right: 7px; font: normal 12px sans-serif; margin-right: 10px; text-decoration: none;}
a.colbutt:visited{color: #777; text-decoration: none;}
.ll{float: left;}
a.colbutt span{background: transparent url(../img/collect_back2.png) no-repeat; display: block; padding: 1px 1px 3px 11px; line-height: 22px; color: #000;}
#stars{font-size: 0; vertical-align: middle; cursor: pointer;}
.subject{float:left;width:415px;}
#mainpic{float:left;text-align: center;margin:3px 12px 0 0;max-width:155px;overflow:hidden;}
#mainpic a img{margin-bottom: 10px;}
#info{float:left;max-width:248px;word-wrap: break-word;}
.p1{font: 12px Arial, Helvetica, sans-serif;line-height:150%;color:#666;}
.attrs{color:#37a;}
#interest_sect1{float:left;width:155px;margin:2px 0 0 0;padding:0 0 0 15px;border-left: 1px solid #eaeaea;color:#9b9b9b;
  .rating_wrap{
    display:block;
    padding-bottom:15px;
    font-size: 12px;
    line-height:14px;
    .rating_logo{
      line-height: 1;
    }
    .rating_self{
      padding:0;
      line-height:2;
      .rating_num{
        color:#494949;
        padding:0;
        min-width:30%;
        font-size:28px;
        float:left;
        font-style: normal;
        font-weight: normal;
      }
      .rating-right{
        float:left;
        padding:10px 0 10px 6px;
        max-width: 60%;
      }
    }
    .starstop{
      float: left;
      margin-right: 5px;
    }
    .power{
      //width:64px;
      height:10px;
      float:left;
      margin:1px 4px;
      background: #ffd596 none  repeat  scroll  0 0;
    }
    .rating_per{font-size: 11px;}
  }
  .rating_betterthan{
    position: relative;
    padding:15px 0;
    border-top:1px solid #eaeaea;
    color:#9b9b9b;
    margin:0;
  }
}
.clearbox{clear:both;width:100%;}
.clearbox:before{clear:both;}
.clearbox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.bigstar50, .bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar05, .bigstar00{
  display: inline-block;
  zoom:1;
  background:url('../img/ic_rating_m.png') no-repeat;
  width:75px;
  height:15px;
  margin:1px 0 0 0;
  overflow:hidden;
  float:left;
}
.bigstar50{background-position: 0 0;}
.rating_sum{display:inline-block;}
.marginbot{margin-bottom: 5px;display: inline-block;}

/*评价五颗星悬浮时显示评价的颜色*/
.Evalutaion{color:#666; margin-left:2px;}
/*评价弹出层样式*/
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
#overlay{height: 386px; width: 568px; margin-left: -284px; margin-top: -193px; top: 50%; left: 50%;
        opacity: .2; position: fixed; z-index: 102; background-color: #333; border-radius: 6px;}
#dialog{position: fixed; z-index: 103; background-color: #FFFFFF; padding: 0; border: 1px solid #bbb; border-radius: 4px;
        width: 550px; left: 50%; top: 50%; margin-top: -185px; margin-left: -276px;}
.indentpop1{padding: 0 18px;}
.interest-form-hd{padding: 12px 18px; width: 100%; margin: 0 -18px 18px; clear: both; background: #ebf5ea; overflow: hidden;}
.gact{color: #BBBBBB; font-size: 12px; text-align: center; cursor: pointer;}
.rr{float: right;}
.interest-form-hd .gact a:link, .interest-form-hd .gact a:hover{line-height: 1.2; padding: 0 3px;}
.gact a:visited, a.gact:visited{color: #BBBBBB; font-size: 12px; text-decoration: none; text-align: center;}
.gact a:link, a.gact:link{color: #BBBBBB; font-size: 12px; text-decoration: none; text-align: center;}
.interest-form-hd h2{margin: 0; line-height: 1.2;}
.topbar-wrapper{margin-bottom: 10px;}
.interest-rating{float:left;}
.tags-switch{text-align: right;}
#advtags{display: inline-block; width: 100%;}
ul{list-style-type: none; margin: 0; padding: 0;}
ul, ol{list-style: none;}
.interest_form .inp-tags{padding: 3px; width: 50%; border: 1px solid #ccc;margin-top:2px; outline:none;}
input{font-size: 12px; margin-right: 3px; vertical-align: middle;}
#mytags{margin-top: 10px;}
.interest_form dt{float: left; width: 65px; color: #666; line-height:22px;}
.interest_form dd{float: left; width: 400px; margin: 0 0 3px; line-height: 23px;}
.gract{color: #072; text-decoration: none; font-size: 12px; text-align: center; border-right: 1px solid #AAFFAA;
      border-bottom: 1px solid #AAFFAA; background-color: #f2fbf2; padding: 3px 3px 2px 3px; margin-top: 2px; margin-right:10px; cursor: pointer; white-space: nowrap;}
.rdact{color: #BBBBBB; text-decoration: none; font-size: 12px; text-align: center; border-right: 1px solid #AAFFAA;  margin-right:10px;
      border-bottom: 1px solid #AAFFAA; background-color: #f2fbf2; padding: 3px 3px 2px 3px; margin-top: 2px; cursor: pointer;}
#populartags{margin: 3px 0 38px 0;}
.interest_form .interest-setting, .interest_form .comment, .interest_form .comment-label{width: 98%;}
.interest_form .comment-label .num{float: right; color: #333;}
textarea{border: 1px solid #ccc; padding: 3px; font-size: 14px; font-family: Arial; overflow: auto; resize: none;margin-top:3px;}
.interest_form .private{float: right; margin-top:5px;}
.pl{font: 12px Arial, Helvetica, sans-serif; line-height: 150%; color: #666666; margin-left:3px;}
.interest-form-ft{text-align: right; padding: 10px 18px; width: 100%; margin: 0 -18px; clear: both; background: #e9eef2; border-top: 1px solid #d9e2e9; overflow: hidden; margin-top: 15px;}
.interest-form-ft .sync-setting{float: left; line-height: 25px;}
.interest-form-ft .bn-flat{float: none;}
.interest-form-ft label{line-height: 1.6;}
label{font-family: Tahoma; vertical-align: middle;}
.share-label{margin: 8px; cursor: pointer; vertical-align: middle;}
.interest-form-ft .share-label input{margin-bottom: 0;}
.interest-form-ft label input, .interest_form label input{margin: 1px 4px; vertical-align: text-bottom;}
#lnk-sync-setting, #lnk-sync-setting:hover, #lnk-sync-setting:visited{vertical-align: middle; color: #0192b5; background: none; line-height: 27px; margin-right: 8px;}
.interest-form-ft .bn-flat input{font-size: 14px;}
.lnk-flat, .lnk-confirm, .bn-flat input{border: 1px solid #bbb; height: 25px; padding: 0 14px; color: #333; margin: 0 !important;
                                  cursor: pointer; -webkit-appearance: none; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
                                  background-image:-moz-linear-gradient(-90deg, #fcfcfc 0, #e9e9e9 100%); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #e9e9e9));}
.greyinput{color: #ccc;}
